In [ ]:
review_df=pd.read_csv("review.csv", encoding='utf-8',error_bad_lines=False, engine="python")

In [3]:
review_df.head()

,business_id,date,user_id,review_id,text,funny,cool,useful,stars
0,buF9druCkbuXLX526sGELQ,2014-10-11 03:34:02,ak0TdVmGKo4pwqdJSTLwWw,lWC-xP3rd6obsecCYsGZRg,Apparently Prides Osteria had a rough summer a...,1,1,3,4.0
1,RA4V8pr014UyUbDvI-LW2A,2015-07-03 20:38:25,YoVfDbnISlW0f7abNQACIg,8bFej1QE5LXp4O05qjGqXA,This store is pretty good. Not as great as Wal...,0,0,1,4.0
2,_sS2LBIGNT5NQb6PD1Vtjw,2013-05-28 20:38:06,eC5evKn1TWDyHCyQAwguUw,NDhkzczKjLshODbqDoNLSg,I called WVM on the recommendation of a couple...,0,0,0,5.0
3,0AzLzHfOJgL7ROwhdww2ew,2010-01-08 02:29:15,SFQ1jcnGguO0LYWnbbftAA,T5fAqjjFooT4V0OeZyuk1w,I've stayed at many Marriott and Renaissance M...,1,1,1,2.0
4,8zehGz9jnxPqXtOc7KaJxA,2011-07-28 18:05:01,0kA0PAJ8QFMeveQWHFqz2A,sjm_uUcQVxab_EeLCqsYLg,The food is always great here. The service fro...,0,0,0,4.0

In [4]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8635403 entries, 0 to 8635402
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   business_id  object
 1   date         object
 2   user_id      object
 3   review_id    object
 4   text         object
 5   funny        int64
 6   cool         int64
 7   useful       int64
 8   stars        float64
dtypes: float64(1), int64(3), object(5)
memory usage: 592.9+ MB

In [5]:
df = pd.read_csv("bc_rest.csv")

In [6]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,1,"{'GoodForKids': 'True', 'Alcohol': ""u'none'"", ...","Restaurants, Thai","{'Monday': '17:0-21:0', 'Tuesday': '17:0-21:0'..."
1,QciD6FbNklaJvUbLExD4Nw,ARGO,"3790 Canada Way, Unit 108",Burnaby,BC,V5G 1G4,49.254436,-123.020050,4.0,76,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Food Delivery Services, Food, Restaurants, Med...","{'Monday': '0:0-0:0', 'Tuesday': '11:30-21:0',..."
2,Xi2GGNzOiUS8r6WCFvu-fw,Kerala Kitchen,103- 9386 120 Street,Surrey,BC,V3V 4B9,49.173723,-122.889641,4.0,9,1,"{'BusinessParking': ""{'garage': False, 'street...","Indian, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
3,NoPXKdIwRzflOW-5exFAqA,1st Avenue Seafood by Pocha,901 Lougheed Hwy,Coquitlam,BC,V3K 3T3,49.237547,-122.872628,4.0,12,0,"{'Ambience': ""{'touristy': False, 'hipster': F...","Restaurants, Korean, Seafood","{'Tuesday': '11:30-23:0', 'Wednesday': '11:30-..."
4,jfDfHzAq6iKkRnzzZ4n1nQ,Let's Roll Custom Sushi Bar,"1184 Denman Street, Suite 104",Vancouver,BC,V6G 2M9,49.286360,-123.140261,4.5,31,0,"{'RestaurantsAttire': ""u'casual'"", 'HasTV': 'F...","Restaurants, Canadian (New), Sushi Bars, Ameri...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [7]:
df_open = df[df.is_open == 1]

In [8]:
df_closed = df[df.is_open == 0]

In [25]:
new_df=review_df[review_df.business_id.isin(df.business_id)]

In [26]:
new_df.head()

,business_id,date,user_id,review_id,text,funny,cool,useful,stars
16,6Hm2FmfLcU_M91TrZI5htA,2014-02-05 21:09:05,bUHweiErUJ36WGeNrPmEbA,LBJJWJ0uNlIybMfPnQGS0A,I loved everything about this place. I've only...,3,3,5,5.0
17,KXCXaF5qimmtKKqnPc_LQA,2018-03-03 23:45:25,JHXQEayrDHOWGexs0dCviA,ucFOnqgaV40oQ2YNyz5ddQ,Great coffee and pastries. Baristas are excell...,0,0,0,1.0
22,jMz_y_-cWMfiZF7Q5snE6Q,2016-01-30 02:39:22,vFnYYmtVwcMGyyGesNImVQ,1OsubwE6zKNU1fkBGxOFrQ,Ordered the original tonkotsu base ramen and a...,0,0,0,5.0
40,M4jkJHewQXZvDV34Tuon8g,2014-08-10 20:40:15,M20pTzUOo2yD5Cuh5shjSA,KeyNH8Jj05BZGtqjgCFnTg,Had the worst experience there today when I tr...,0,0,0,1.0
47,VPqWLp9kMiZEbctCebIZUA,2018-09-25 03:22:50,IMfkbLVt_GJfD7zJ9T4fcw,P320Yt8vFD3yjI34hq-umg,"Overall is good, is worth the line up I don't ...",0,0,0,3.0

In [9]:
new_df_open=review_df[review_df.business_id.isin(df_open.business_id)]

In [10]:
new_df_closed=review_df[review_df.business_id.isin(df_closed.business_id)]

In [12]:
new_df_closed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97871 entries, 16 to 8635120
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  97871 non-null  object
 1   date         97871 non-null  object
 2   user_id      97871 non-null  object
 3   review_id    97871 non-null  object
 4   text         97871 non-null  object
 5   funny        97871 non-null  int64
 6   cool         97871 non-null  int64
 7   useful       97871 non-null  int64
 8   stars        97871 non-null  float64
dtypes: float64(1), int64(3), object(5)
memory usage: 7.5+ MB

In [28]:
new_df.to_csv('reviews_open_close.csv', index=False, header=True)

In [13]:
new_df_open.to_csv('reviews_open.csv', index=False, header=True)

In [14]:
new_df_closed.to_csv('reviews_closed.csv', index=False, header=True)